# Veracity trust network codedurance software crafters event exercise 1

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [35]:
#1.1
example_data = pd.read_csv("./Example_Veracity_Data_Anonymised.csv")

example_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74306 entries, 0 to 74305
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          74306 non-null  int64
 1   totalVisitTime      74305 non-null  float64
 2   pagesViewedInVisit  74306 non-null  int64
 3   totalActionsCount   74306 non-null  int64
 4   firstPassResult     74306 non-null  int64
 5   announcedBot        74306 non-null  object
 6   avgActionsPerPage   74306 non-null  float64
 7   avgTimePerPage      74305 non-null  float64
 8   browser             74306 non-null  object
 9   osType              51862 non-null  object
dtypes: float64(3), int64(4), object(3)
memory usage: 5.7+ MB

In [36]:
#1.2
for i in range(20):
    print(f"Datatype of anounced bot in element {i+1}: {type(example_data.iloc[i]['announcedBot'])}")

Datatype of anounced bot in element 1: <class 'str'>
Datatype of anounced bot in element 2: <class 'str'>
Datatype of anounced bot in element 3: <class 'str'>
Datatype of anounced bot in element 4: <class 'str'>
Datatype of anounced bot in element 5: <class 'str'>
Datatype of anounced bot in element 6: <class 'str'>
Datatype of anounced bot in element 7: <class 'str'>
Datatype of anounced bot in element 8: <class 'str'>
Datatype of anounced bot in element 9: <class 'str'>
Datatype of anounced bot in element 10: <class 'str'>
Datatype of anounced bot in element 11: <class 'str'>
Datatype of anounced bot in element 12: <class 'str'>
Datatype of anounced bot in element 13: <class 'str'>
Datatype of anounced bot in element 14: <class 'str'>
Datatype of anounced bot in element 15: <class 'str'>
Datatype of anounced bot in element 16: <class 'str'>
Datatype of anounced bot in element 17: <class 'str'>
Datatype of anounced bot in element 18: <class 'str'>
Datatype of anounced bot in element 19: <class 'str'>
Datatype of anounced bot in element 20: <class 'str'>

In [40]:
# 1.3
example_data['announcedBot'] = example_data['announcedBot'].astype(str).apply(lambda x: 0 if x == "0" else 1)

example_data[:10]

,Unnamed: 0,totalVisitTime,pagesViewedInVisit,totalActionsCount,firstPassResult,announcedBot,avgActionsPerPage,avgTimePerPage,browser,osType
0,0,0.0,3,1,3,0,0.333333,0.0,Chrome,Android
1,1,331489.0,5,0,3,0,0.000000,66297.8,Chrome,Android
2,2,12.0,1,1,3,1,1.000000,12.0,Safari,Mac OS X
3,3,0.0,4,1,3,0,0.250000,0.0,Chrome,Android
4,4,0.0,4,44,2,0,11.000000,0.0,Chrome,Android
5,5,0.0,4,83,3,0,20.750000,0.0,Safari,NaN
6,6,0.0,4,0,3,0,0.000000,0.0,Safari,NaN
7,7,23.0,2,73,2,0,56.000000,11.5,Firefox,Android
8,8,0.0,4,103,2,0,25.750000,0.0,Chrome,Android
9,9,0.0,4,15,3,0,3.750000,0.0,Safari,NaN